{% extends "layout.html" %}
{% block body %}
<div id="indexMain" class="align-middle" height="800">
    <div class="container">
        <div class="row">
            <div class="col-6 divPrincipal">
                <h1>Tus videos Favoritos, en un solo lugar.</h1>
                <h2>Listo para empezar?</h2>
                <h3>Inicia sesión y comienza a agregar videos a tu lista!</h3>
                <a href="/login"><button type="button" class="btn btn-danger btn-lg"> Iniciar Sesión </button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}