{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

            <script>
                Swal.fire({
                        {% if category == 'success' %}
                            title:"Éxito",
                        {% else %}
                            title:"Error",
                        {% endif %}

                    text: "{{ message }}",

                    icon: "{{ category }}" == "danger" ? "error" : "{{ category }}"
                })
            </script>

        {% endfor %}
    {% endif %}
{% endwith %}